*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    transition: 0.5;
}
.logoimg{
    margin-top: 4px;
    margin-left: 10px;
}
.nav-wrapper{
    background-color: #726E73;
    position: sticky !important;
}
.nav-wrapper ul a{
    font-size: 20pt;
}

.page-footer{
    background-color: #726E73;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16pt;
    color: black;
    background-color: rgb(245, 239, 239);
}

p{
    padding-left: 3%;
    padding-right: 5%;
    display: table;
    text-align: justify;
    padding-bottom: 3%; 
}

h3{
    margin-bottom: 4%;
    text-align: center;
    color:#504f51;
    font-weight: bold;
}

.responsive-img{
    border-radius: 3%;
}

.foto{
    padding: 0% 5%;
}
